	/* These are all EXAMPLES -- they are meant to be updated/changed/modified */
	body { font: 14px 'Verdana', 'Arial', 'Helvetica'; }

	.container {
    width:1000px;
    margin-right:auto;
    margin-left:auto;
    height: 100%;
  /*  background: url(../images/background-gradient.jpg) repeat-x #FFFFFF; */
  /*  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #AAAAAA) );
	background:-moz-linear-gradient( center top, #FFFFFF 5%, #AAAAAA 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#AAAAAA');
	*/
	padding-top : 10px;
	padding-bottom:20px;
	padding-left:10px;
	paddign-right:10px;
 	}

	/* Standard HTML Form Controls */
	input.button { border: 1px solid #58B3CD; font: 11px 'Arial', 'Helvetica'; font-weight: bold; background-color: #eef;}
	input.button:hover { background-color: #fff; }

	input.textbox, textarea.textbox { font: 14px 'Arial', 'Helvetica'; width: 200px; background-color: #eef; border: 1px solid #58B3CD; padding: 2px 3px 2px 3px;}
	textarea.textbox { height: 120px; }
		input.textbox:focus, textarea.textbox:focus {background-color: #fff; border-color: #58B3CD;}

	select.listbox { font: 14px 'Arial', 'Helvetica'; width: 208px; background-color: #eef; border: 1px solid #58B3CD; }
		select.listbox:focus { background-color: #fff; border-color: #58B3CD;}
		a.listboxReset { font-family: verdana, arial, helvetica; font-size: 8pt; text-decoration: none; color: #337; }
		a.listboxReset:hover { text-decoration: underline; }



	/**
	 * Various QControl-specific Styles
	 */

	/* QFileAsset */
	div.fileassetDbox { border: 4px solid #333; background-color: #fff; padding: 20px; width: 400px; overflow: auto; }
		div.fileassetDbox h1 { margin: 0; }
		div.fileassetDbox input { padding: 3px; margin-right: 5px; }

	/* QDialogBox */
	div.dialogbox { border: 4px solid #333; background-color: #fff; padding: 20px; width: 400px; overflow: auto; }

	span.datetimepicker { }
		span.datetimepicker select { font: 14px 'Arial', 'Helvetica'; background-color: #0098c3; border: 1px solid #58B3CD; }
		span.datetimepicker select:focus { background-color: #fff; border-color: #58B3CD; }
		span.datetimepicker select.month { width: 55px; }
		span.datetimepicker select.day { width: 45px; margin-left: 8px; }
		span.datetimepicker select.year { width: 60px; margin-left: 8px; }
		span.datetimepicker select.hour { width: 65px; margin-left: 12px; margin-right: 2px; }
		span.datetimepicker select.minute { width: 45px; margin-left: 2px; margin-right: 2px; }
		span.datetimepicker select.second { width: 45px; margin-left: 2px; }

	/* QDataGrid */
	table.datagrid { border: 1px solid #58B3CD; }
		table.datagrid caption, table.datagrid tfoot { padding-bottom: 4px; overflow: auto; }
			table.datagrid span.left { float: left; font-size: 10px; display: block; }
			table.datagrid span.right { float: right; font-size: 10px; display: block; }
		table.datagrid tr { background-color: #fff; }
			table.datagrid tr.alternate { background-color: #eef; }
		table.datagrid th { background-color: #58B3CD; padding: 3px 5px 3px 5px; text-align: left; }
			table.datagrid th a { color: #000; text-decoration: none; }
			table.datagrid th a:hover { color: #000; text-decoration: underline;}
		table.datagrid td { padding: 5px; }
			table.datagrid td a { color: #000; }
			table.datagrid td a:hover { color: #000; text-decoration: none; }
		table.datagrid tfoot { border-top: 1px solid #58B3CD;} 

	/* QPaginator */
	span.paginator { margin: 0; padding: 0; }
		span.paginator span { list-style-type:none; display: inline; padding: 0; margin: 0; }
			span.paginator span.page a { text-decoration: none; color: #000000; padding: 0 3px 0 3px; margin: 0 2px 0 2px;}
			span.paginator span.page a:hover { background-color: #EDEDED; }
			span.paginator span.arrow { font-weight: bold; color: #ccc; margin: 0; padding: 0 3px 0 3px; }
			span.paginator span.arrow a { font-weight: bold; color: #000; text-decoration: none; }
			span.paginator span.selected { font-weight: bold; background-color: #EDEDED; padding: 0 3px 0 3px; margin: 0 2px 0 2px; border: 1px; border-style: solid; }
			span.paginator span.break { color: #666; margin: 0 5px 0 5px; }
			span.paginator span.ellipsis { color: #666; }

	/* QCalendar */
	div.calendar { width: 210px; border: 1px solid #0098C3; background-color: #DDDBDB; }
		div.calendar div.navigator { margin:2px; background-color: #0098C3; overflow: auto; _height: 100%; color: #fff; padding: 2px 6px 2px 6px; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
		div.calendar div.navigator span.left {width:20px; padding-left:10px; padding-right:10px;}
		div.calendar div.navigator span.month {  width: 80px; text-align: center; font-weight: bold; font-size: 11px;}
		div.calendar div.navigator div.year { margin-left: auto; margin-right: auto; width: 60px; margin-top:10px;  }
		div.calendar div.navigator div.year span { font-size: 11px; font-weight: bold; margin-left: 6px; margin-right: 6px; }
			div.calendar div.navigator a { color: #fff; text-decoration: none; }
			div.calendar div.navigator a:hover { text-decoration: underline; }
		div.calendar table { border: 0; margin-left: auto; margin-right: auto;}
			div.calendar th { text-align: center; border: 0; padding: 4px 2px 4px 2px; font-weight: bold; font-size: 10px;}
			div.calendar td { text-align: center; border-width: 0 0 1px 0; border-style: solid; border-color: black; padding: 0;}
				div.calendar td.lastRow { border-width: 0;}
				div.calendar td a { text-decoration: none; color: #000; display: block; padding: 2px 6px 2px 6px; }
				div.calendar td.today { background-color: #bbd; }
				div.calendar td.nonMonth a { color: #58B3CD; }
				div.calendar td.selected { background-color: #9E005D; font-weight: bold; color: #FFFFFF; }
				div.calendar td a:hover { background-color: #ffffff; color: #000; }
		div.calendar div.options { text-align: center; background-color: #0098C3; }
			div.calendar div.options a { color: #fff; font-size: 10px; text-decoration: none;}
			div.calendar div.options a:hover { text-decoration: underline; }

	/**
	 * Styles for Custom Render Functions as defined in QControl.class.php
	 */

	div.renderWithName { padding: 4px 0; height: 100%; clear: both; _zoom: 1; }
	div.renderWithName:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
		div.renderWithName div.left { float: left; width: 200px; margin-right: 25px; }
		div.renderWithName div.required { font-weight: bold;}
		div.renderWithName div.left span.instructions { font: 10px 'Verdana', 'Arial', 'Helvetica'; color: #999; font-style: italic; text-transform: none;}

		div.renderWithName div.right { float: left; }
		div.renderWithName div.right span.error { margin-left: 15px; font: 10px 'Verdana', 'Arial', 'Helvetica'; color: #600;}



	/**
	 * Form and Dashboard Draft-Specific Styles
	 * NOTE: because these are page specific, we use element IDs instead of element classes for most items here
	 * (e.g. we will never have more than one titleBar per page)
	 */

	div#titleBar { border: 1px solid #337; margin-bottom: 18px; }
		div#titleBar h2 { background-color: #337; font: 12px 'Georgia', 'Times New Roman', 'Times'; font-style: italic; font-weight: bold; color: #fff; margin: 0; padding: 2px 5px 2px 5px; float: none; }
		div#titleBar h2#right { float: right; font: 10px 'Verdana', 'Arial', 'Helvetica'; font-style: normal; font-weight: normal; }
		div#titleBar h2#right a { color: #fff; text-decoration: none; }
		div#titleBar h2#right a:hover { text-decoration: underline; }
		div#titleBar h1 { font: 28px 'Georgia', 'Times New Roman', 'Times'; color: #337; margin: 0; padding: 2px 0 2px 5px; font-weight: bold; }

	p.create { }
		p.create a { text-decoration: none; color: #337; font-weight: bold; }
		p.create a:hover { text-decoration: underline; }

	div#draftList { clear: both; }
		div#draftList h1 { margin: 0; font: 20px 'Georgia', 'Times New Roman', 'Times'; font-weight: bold; }
		div#draftList p { margin-top: 6px; margin-bottom: 18px;}

	div#formControls { padding: 0 0 0 20px; }

	div#formActions { background-color: #58B3CD; padding: 10px; height: 20px; margin-top: 18px; }
		div#formActions div#save { float: left; }
		div#formActions div#cancel { margin-left: 10px; float: left; }
		div#formActions div#delete { float: right; }

	div#dashboard { }
		div#dashboard div#left { float: left; width: 200px; height: 100px; font-size: 10px; background-color: #eef; border: 1px solid #000; padding: 5px; }
		div#dashboard div#right { float: left; margin-left: 10px; width: 760px;}
		div#dashboard div#right div#pnlList { margin-bottom: 10px; border: 1px solid #000; padding: 5px; height: 300px; overflow: auto; }
		div#dashboard div#right div#pnlEdit { border: 1px solid #000; padding: 5px; background-color: #eef; height: 240px; overflow: auto; }
		
	/************************************************************************************************************************/
	
	/* Login Page */
	.loginContainer {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		float: center;
		margin-top: 100px;
	}
	.loginLogo {
		margin-bottom: 5px;
		width:500px;
	}
	.loginSection {
		border: 2px #0098c3 solid;
		width: 500px;
		padding-top: 20px;
	}
	.loginSection label{
		padding-left:20px;
	}
	.loginSection h3 {
		padding-left:20px;
	}
	.buttonBar {
		position:relative;
		height:50px;
	}
	.buttonBar input {
		color: #ffffff;
		background-color: #0098c3;
		float:right;
		margin-right: 68px;
		padding:5px 20px;
	}
	
	/* 
	 *  normal pages 
	 */
	 
	 h1 {
	 	color:#0098c3;
	 	font-size:28px;
	 }
	 
	 h2 {
	 	color:#9e005d;
	 	font-size:24px;
	 }
	 
	 h3 {
	 	color:#9e005d;
	 	font-size:18px;
	 }
	 
	.primary {
		-moz-box-shadow:inset 0px 1px 0px -7px #97c4fe;
		-webkit-box-shadow:inset 0px 1px 0px -7px #97c4fe;
		box-shadow:inset 0px 1px 0px -7px #97c4fe;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0098c3), color-stop(1, #6cb9cf) );
		background:-moz-linear-gradient( center top, #0098c3 5%, #6cb9cf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098c3', endColorstr='#6cb9cf');
		background-color:#0098c3;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #337fed;
		display:inline-block;
		color:#ffffff;
		font-family:arial;
		font-size:14px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:1px 1px 0px #1570cd;
		cursor: pointer;
		margin-left:0px;
		margin-right:10px;
		margin-top:10px;
	}.primary:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6cb9cf), color-stop(1, #0098c3) );
		background:-moz-linear-gradient( center top, #6cb9cf 5%, #0098c3 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6cb9cf', endColorstr='#0098c3');
		background-color:#6cb9cf;
	}.primary:active {
		position:relative;
		top:1px;
	}
	/* This imageless css button was generated by CSSButtonGenerator.com */

	 
	.status {
		position:relative;
		float:right;
		margin-right:10px;
		margin-top:10px;
		top:-160px;
		border: 1px #0098c3 solid;
		color:#0098c3;
		padding: 10px 5px;
		-webkit-border-top-right-radius:8px;
		-webkit-border-top-left-radius:8px;
		-moz-border-radius-topright:8px;
		-moz-border-radius-topleft:8px;
		border-top-right-radius:8px;
		border-top-left-radius:8px;
		-webkit-border-bottom-right-radius:8px;
		-webkit-border-bottom-left-radius:8px;
		-moz-border-radius-bottomright:8px;
		-moz-border-radius-bottomleft:8px;
		border-bottom-right-radius:8px;
		border-bottom-left-radius:8px;
		-o-box-shadow: 5px 5px 2px #888;
		-icab-box-shadow: 5px 5px 2px #888;
		-khtml-box-shadow: 5px 5px 2px #888;
		-moz-box-shadow: 5px 5px 2px #888;
		-webkit-box-shadow: 5px 5px 2px #888;
		box-shadow: 5px 5px 2px #888;
	}
	.status a {
		color:#0098c3;
	}
	.logo {
		width:1000px;
		margin: 0px;
	}
	.icon {
		float:left;
		margin: 20px;
		width: 200px;
	}
	
	/*
	 * Navigation Bar
	 */
	.navbar {
		background-color: #0098c3;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0098c3), color-stop(1, #6cb9cf) );
		background:-moz-linear-gradient( center top, #0098c3 5%, #6cb9cf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6cb9cf', endColorstr='#0098c3');
		color: #ffffff;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-top: 0px;
		margin-bottom: 20px;
		position:relative;
		height: 33px;
	}
	ul.navbar { list-style: none; width: 980px; margin: 0 auto; padding: 0; }
	ul.navbar li { background-color: #0098c3; 
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0098c3), color-stop(1, #6cb9cf) );
		background:-moz-linear-gradient( center top, #0098c3 5%, #6cb9cf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6cb9cf', endColorstr='#0098c3');
		margin: 0; padding: 0; float: left; font-family: trebuchet ms, verdana, arial, MyriadProBold, courier; font-size: 18px; color: #fff; text-align: center; 
	}
	ul.navbar li a { height: 32px; display: block; text-decoration: none; color: #fff; line-height: 32px; text-shadow: 1px 1px 3px #323; overflow: hidden;
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6cb9cf', endColorstr='#0098c3');
	} 
	ul.navbar li a.selected { background-color: #9e005d;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9e005d), color-stop(1, #b73280) );
	background:-moz-linear-gradient( center top, #9e005d 5%, #b73280 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e005d', endColorstr='#b73280');	
	}
	ul.navbar li a:hover { background-color: #FFFFFF; color: #4a3f5d; text-shadow: 1px 1px 2px #777; }
	 
	/*
	 * Scorecard Navigation Bar
	 */
	.scorecardnavbar {
		background-color: #b73280;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9e005d), color-stop(1, #b73280) );
		background:-moz-linear-gradient( center top, #9e005d 5%, #b73280 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e005d', endColorstr='#b73280');	
		color: #ffffff;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		position:relative;
		height: 25px;
	}
	ul.scorecardnavbar { list-style: none; width: 960px; margin: 0 auto; padding: 0; }
	ul.scorecardnavbar li { 
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9e005d), color-stop(1, #b73280) );
		background:-moz-linear-gradient( center top, #9e005d 5%, #b73280 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e005d', endColorstr='#b73280');	
		margin: 0; padding: 0; float: left; font-family: trebuchet ms, verdana, arial, MyriadProBold, courier; font-size: 14px; color: #fff; text-align: center; 
	}
	ul.scorecardnavbar li a { height: 25px; display: block; text-decoration: none; color: #fff; line-height: 25px; text-shadow: 1px 1px 3px #323; overflow: hidden;
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e005d', endColorstr='#b73280');
			cursor:pointer;	
	} 
	ul.scorecardnavbar li a.selected { background-color: #9e005d;
		background-color: #0098c3; 
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0098c3), color-stop(1, #6cb9cf) );
		background:-moz-linear-gradient( center top, #0098c3 5%, #6cb9cf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6cb9cf', endColorstr='#0098c3');	
	}
	ul.scorecardnavbar li a:hover { background-color: #FFFFFF; color: #4a3f5d; text-shadow: 1px 1px 2px #777; }
	 
	ul.mylists li { line-height:20px; }
	 
	.section {
		border: 1px #0098c3 solid;
		width: 850px;
		padding: 10px;
		margin:10px;
		-o-box-shadow: 5px 5px 2px #888;
		-icab-box-shadow: 5px 5px 2px #888;
		-khtml-box-shadow: 5px 5px 2px #888;
		-moz-box-shadow: 5px 5px 2px #888;
		-webkit-box-shadow: 5px 5px 2px #888;
		box-shadow: 5px 5px 2px #888;
		-webkit-border-top-right-radius:8px;
		-webkit-border-top-left-radius:8px;
		-moz-border-radius-topright:8px;
		-moz-border-radius-topleft:8px;
		border-top-right-radius:8px;
		border-top-left-radius:8px;
		-webkit-border-bottom-right-radius:8px;
		-webkit-border-bottom-left-radius:8px;
		-moz-border-radius-bottomright:8px;
		-moz-border-radius-bottomleft:8px;
		border-bottom-right-radius:8px;
		border-bottom-left-radius:8px;
	}
	
	.subsection {
		border: 1px #0098c3 solid;
		width: 700px;
		padding: 10px;
		margin:10px;
		background-color: #CCCCCC;
		-o-box-shadow: 5px 5px 2px #888;
		-icab-box-shadow: 5px 5px 2px #888;
		-khtml-box-shadow: 5px 5px 2px #888;
		-moz-box-shadow: 5px 5px 2px #888;
		-webkit-box-shadow: 5px 5px 2px #888;
		box-shadow: 5px 5px 2px #888;
		-webkit-border-top-right-radius:8px;
		-webkit-border-top-left-radius:8px;
		-moz-border-radius-topright:8px;
		-moz-border-radius-topleft:8px;
		border-top-right-radius:8px;
		border-top-left-radius:8px;
		-webkit-border-bottom-right-radius:8px;
		-webkit-border-bottom-left-radius:8px;
		-moz-border-radius-bottomright:8px;
		-moz-border-radius-bottomleft:8px;
		border-bottom-right-radius:8px;
		border-bottom-left-radius:8px;
	}
	
	.panelSideNavigation {
		width:960px;
		background-color: #b73280;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9e005d), color-stop(1, #b73280) );
		background:-moz-linear-gradient( center top, #9e005d 5%, #b73280 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e005d', endColorstr='#b73280');	
		color: #ffffff;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		position:relative;
		height: 25px;
	}
	
	.transparent {
		background-color:inherit;
		opacity:0.9;
  		filter:alpha(opacity=90); /* For IE8 and earlier */
  		width:150px;
  }

	
.SideNavButton {
	float:left;
	display: inline;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9e005d), color-stop(1, #b73280) );
	background:-moz-linear-gradient( center top, #9e005d 5%, #b73280 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e005d', endColorstr='#b73280');	
	margin: 0; padding: 0; float: left; font-family: trebuchet ms, verdana, arial, MyriadProBold, courier; font-size: 14px; color: #fff; text-align: center;
	padding: 5px;
	margin-right: 20px;
	height: 35px;
	color: #ffffff; 
	border:none; 
	width:100px;
	cursor: pointer;
}
.SideNavButton:hover {
	background: #FFFFFF; color: #4a3f5d;
	cursor: pointer;
}

/* This imageless css button was generated by CSSButtonGenerator.com */
.SideNavButtonSelected {
	background-color: #0098c3; 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0098c3), color-stop(1, #6cb9cf) );
	background:-moz-linear-gradient( center top, #0098c3 5%, #6cb9cf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6cb9cf', endColorstr='#0098c3');
	cursor:pointer;
	padding: 5px;
	margin-right: 20px;
	height: 35px;
	color: #ffffff; 
	border:none; 
	width:100px;
}
.SideNavButtonSelected:hover {
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b73280), color-stop(1, #9e005d) );
	background:-moz-linear-gradient( center top, #b73280 5%, #9e005d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b73280', endColorstr='#9e005d');
	*/
	background:#ffffff;
	color: #4a3f5d;
}.SideNavButtonSelected:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

	.panelMainContent {
		float: right;
		border: 1px #0098c3 solid;
		width: 960px;
		padding: 10px;
		margin:10px;
		-o-box-shadow: 5px 5px 2px #888;
		-icab-box-shadow: 5px 5px 2px #888;
		-khtml-box-shadow: 5px 5px 2px #888;
		-moz-box-shadow: 5px 5px 2px #888;
		-webkit-box-shadow: 5px 5px 2px #888;
		box-shadow: 5px 5px 2px #888;
		-webkit-border-top-right-radius:8px;
		-webkit-border-top-left-radius:8px;
		-moz-border-radius-topright:8px;
		-moz-border-radius-topleft:8px;
		border-top-right-radius:8px;
		border-top-left-radius:8px;
		-webkit-border-bottom-right-radius:8px;
		-webkit-border-bottom-left-radius:8px;
		-moz-border-radius-bottomright:8px;
		-moz-border-radius-bottomleft:8px;
		border-bottom-right-radius:8px;
		border-bottom-left-radius:8px;
	}
	
	div.filterBy { margin-left: 15px; float: left; color: #5a768e; font-size: 11px; font-style: italic; font-family: trebuchet ms, verdana, arial, helvetica, sans-serif; }
	div.filterByFirst { margin-left: 0; }
	div.filterBy input.textbox { width: 120px; font-size: 11px; padding: 1px; }
	div.filterBy select.listbox { font-size: 11px; }
	
	.assessmentButton {
		position: relative;
		float: left;
		width:250px;
		border: 1px #0098c3 solid;
		padding:10px;
		margin:10px;
		cursor: pointer;
		color:#ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0098c3), color-stop(1, #6cb9cf) );
		background:-moz-linear-gradient( center top, #0098c3 5%, #6cb9cf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098c3', endColorstr='#6cb9cf');	
		-o-box-shadow: 5px 5px 2px #888;
		-icab-box-shadow: 5px 5px 2px #888;
		-khtml-box-shadow: 5px 5px 2px #888;
		-moz-box-shadow: 5px 5px 2px #888;
		-webkit-box-shadow: 5px 5px 2px #888;
		box-shadow: 5px 5px 2px #888;
		-webkit-border-top-right-radius:8px;
		-webkit-border-top-left-radius:8px;
		-moz-border-radius-topright:8px;
		-moz-border-radius-topleft:8px;
		border-top-right-radius:8px;
		border-top-left-radius:8px;
		-webkit-border-bottom-right-radius:8px;
		-webkit-border-bottom-left-radius:8px;
		-moz-border-radius-bottomright:8px;
		-moz-border-radius-bottomleft:8px;
		border-bottom-right-radius:8px;
		border-bottom-left-radius:8px;
	}
	
	.assessmentButtonDisabled {
		position: relative;
		float: left;
		width:250px;
		border: 1px #0098c3 solid;
		padding:10px;
		margin:10px;
		color:#444444;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
		background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
		background-color:#ededed;
		-o-box-shadow: 5px 5px 2px #888;
		-icab-box-shadow: 5px 5px 2px #888;
		-khtml-box-shadow: 5px 5px 2px #888;
		-moz-box-shadow: 5px 5px 2px #888;
		-webkit-box-shadow: 5px 5px 2px #888;
		box-shadow: 5px 5px 2px #888;
		-webkit-border-top-right-radius:8px;
		-webkit-border-top-left-radius:8px;
		-moz-border-radius-topright:8px;
		-moz-border-radius-topleft:8px;
		border-top-right-radius:8px;
		border-top-left-radius:8px;
		-webkit-border-bottom-right-radius:8px;
		-webkit-border-bottom-left-radius:8px;
		-moz-border-radius-bottomright:8px;
		-moz-border-radius-bottomleft:8px;
		border-bottom-right-radius:8px;
		border-bottom-left-radius:8px;
	}
	
	.right { float:right; margin-right:10px; margin-bottom:10px;}
	
	/*
	* The styled tabs used for the 10-Ps
	*/
	.ptab {
		-webkit-border-top-right-radius:8px;
		-webkit-border-top-left-radius:8px;
		-moz-border-radius-topright:8px;
		-moz-border-radius-topleft:8px;
		border-top-right-radius:8px;
		border-top-left-radius:8px;
		color:#ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #58595D), color-stop(1, #2D2F2E) );
		background:-moz-linear-gradient( center top, #58595D 5%, #2D2F2E 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#58595D', endColorstr='#2D2F2E');
		background-color:#2D2F2E;
		cursor: pointer;
		padding: 4px 5px;
		margin: 0px;
	}
	.ptabSelected {
		-webkit-border-top-right-radius:8px;
		-webkit-border-top-left-radius:8px;
		-moz-border-radius-topright:8px;
		-moz-border-radius-topleft:8px;
		border-top-right-radius:8px;
		border-top-left-radius:8px;
		color:#000000;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #AAAAAA), color-stop(1, #FFFFFF) );
		background:-moz-linear-gradient( center top, #AAAAAA 5%, #FFFFFF 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorstr='#FFFFFF');
		background-color:#2D2F2E;
		cursor: pointer;
		padding: 4px 5px;
		margin: 0px;
	}
	.pcontent {
		margin: 0px;
		padding-left: 20px;
		width: 970px;
		color:#444444;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
		background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
		background-color:#ededed;
		border: 1px solid #ededed;
	}
	.summaryTable {margin-top:10px; margin-left:10px; border: 1px solid #0098c3;}
	.scorecard_table {
		margin-top:10px;
		margin-bottom:10px;
		background: #ffffff;
		border: 1px solid #0098c3;
		width:910px;
	}
	.ui-button { margin-top:5px; margin-right:5px;}
	.deleteButton {
		background-image: url(../images/delete.png);
		width:14px;
		height:14px;
		cursor: pointer;
		border: none;
	    display: inline;
	    margin: 0em;
	    padding: 0em;
	    outline: none;
	    outline-offset: 0em;
	    margin-left:10px;
	}
	.priority {
		cursor: pointer;
	}
	.societalButton {
	/*	border: none;
	    display: inline;
	    margin: 0em;
	    padding: 0em;
	    outline: none;
	    outline-offset: 0em;
	    background: none;
	    color: blue;
	    */
	    cursor: pointer;
	    font: inherit;
	    /*text-decoration: underline;*/
	}
	.societalImage {margin-left:10px;}
	.leftPanel {
		width:100px;
		margin:20px;
		float: left;
	}
	.rightPanel {
		width:200px;
		margin:20px;
		float: right;
	}
	.statement { border: 1px solid #0098c3; padding:20px; width:910px; display: block; cursor:pointer; box-shadow: 5px 5px 2px #888;}
	.tablecell { padding:5px; display: block;}
	.link { text-decoration: underline; cursor:pointer; margin-top:10px; margin-bottom:10px; display: block;}
	.resourceTable {margin-top:10px; margin-left:20px; border: 1px solid #0098c3;}
	.editIcon {background-image: url('../images/icons/page_edit.png'); background-repeat:no-repeat; background-position:left;};
	
	/*
	 * Group Assessment Styles
	 */
	.externContainer {
		width: 960px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #2E2E2E;
	}
	.lemonSection {
		background-image: url(../images/sidelemon.png); 
		background-position: 560px 0px;
		background-repeat: no-repeat;
		height: 400px;
		width: 800px;
		line-height: 130%;
		text-align: justify;
	}
	.externSection {
		line-height: 130%;
		text-align: justify;
		border: 1px #0098c3 solid;
		width: 800px;
		padding: 10px;
		margin:10px;
		-o-box-shadow: 5px 5px 2px #888;
		-icab-box-shadow: 5px 5px 2px #888;
		-khtml-box-shadow: 5px 5px 2px #888;
		-moz-box-shadow: 5px 5px 2px #888;
		-webkit-box-shadow: 5px 5px 2px #888;
		box-shadow: 5px 5px 2px #888;
		-webkit-border-top-right-radius:8px;
		-webkit-border-top-left-radius:8px;
		-moz-border-radius-topright:8px;
		-moz-border-radius-topleft:8px;
		border-top-right-radius:8px;
		border-top-left-radius:8px;
		-webkit-border-bottom-right-radius:8px;
		-webkit-border-bottom-left-radius:8px;
		-moz-border-radius-bottomright:8px;
		-moz-border-radius-bottomleft:8px;
		border-bottom-right-radius:8px;
		border-bottom-left-radius:8px;
	}
	.errorMsg {
		color: red;
	}
	.warningMsg {
		color: orange;
	}
.externButton {
	-o-box-shadow: 5px 5px 2px #888;
	-icab-box-shadow: 5px 5px 2px #888;
	-khtml-box-shadow: 5px 5px 2px #888;
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 5px 2px #888;
	box-shadow: 5px 5px 2px #888;	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0098c3), color-stop(1, #6cb9cf) );
	background:-moz-linear-gradient( center top, #0098c3 5%, #6cb9cf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098c3', endColorstr='#6cb9cf');	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border: 1px #0098c3 solid;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:-1px -3px 4px #0098c3;
}.externButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05,#6cb9cf ), color-stop(1, #0098c3) );
	background:-moz-linear-gradient( center top, #6cb9cf  5%, #0098c3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6cb9cf', endColorstr='#0098c3');	
}.externButton:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
.centerImg {margin-left:auto; margin-right:auto; display:block; }
.quoter {font-weight:bold; font-style:italic;}
.Luminary {color:#79b9c9;}
.Entrepreneur {color:#67df64;}
.Manager {color:#ffcb3c;}
.Organizer { color:#e58e42;}
.Networker {color:#ff7331}

.LuminaryHead {background-color:#79b9c9;}
.EntrepreneurHead {background-color:#67df64;}
.ManagerHead {background-color:#ffcb3c;}
.OrganizerHead {background-color:#e58e42;}
.NetworkerHead {background-color:#ff7331;}

.lemonImage {margin-left:10px;}
.paddedControl { margin-left:5px; margin-right:5px; text-align: center; }
.tweak { position:relative; top:8px; }
.graph { 
	position:relative; float:left; margin:5px; padding:5px;
	border: 1px #0098c3 solid;
	-o-box-shadow: 5px 5px 2px #888;
	-icab-box-shadow: 5px 5px 2px #888;
	-khtml-box-shadow: 5px 5px 2px #888;
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 5px 2px #888;
	box-shadow: 5px 5px 2px #888;	
}
.userSection { position: relative; float:left; width:400px; }
.disabled { color: #888888; }
table.lemonSummary { border-collapse:collapse; border: 1px solid #808080; margin-bottom:10px;}
table.lemonSummary tr{ border: 1px solid #808080; }
table.lemonSummary td { border: 1px solid #808080; padding:5px; margin: 0px 30px; width:100px; text-align: center; vertical-align: middle;}
table.lemonSummary th { border: 1px solid #808080; padding:5px; margin: 0px 10px;}

/*
 * Where Does the time go styles
 */
.definitions { width:650px; float:right; padding:10px; position:relative; top:0px; }
.def { color:blue; cursor:pointer; line-height:180%; margin:20px; padding:5px;}
.categories { width:800px; text-align:center; }
.bluetext {color:blue;}
.redtext {color:red;}
.italics { font-style:italic;}
#hourCounter { margin:20px; background-color:#CCCCCC; padding:5px; border:1px solid black;}
.left {float:left; margin:0px 10px 10px 10px;}
.shadowed {
	border: 1px #0098c3 solid;
	-o-box-shadow: 5px 5px 2px #888;
	-icab-box-shadow: 5px 5px 2px #888;
	-khtml-box-shadow: 5px 5px 2px #888;
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 5px 2px #888;
	box-shadow: 5px 5px 2px #888;	
}

.infographic {
	border: 1px #0098c3 solid;
	-o-box-shadow: 5px 5px 2px #888;
	-icab-box-shadow: 5px 5px 2px #888;
	-khtml-box-shadow: 5px 5px 2px #888;
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 5px 2px #888;
	box-shadow: 5px 5px 2px #888;
  	position:relative; padding:10px; margin-bottom:10px; overflow: auto;
	}

.bicycleFrame {
	z-index:-2; width:860px; position:absolute; left:35px; top:-10px;
}
.freeassessmentSummary { width:700px; display:block; float:left; padding-right:50px; }
.hierarchymodel { float:left; padding-top:100px;}